/* JoinRoom.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  max-width: 300px;
  transform: translateZ(0); /* Add a 3D effect */
  transition: transform 0.3s ease; /* Add a transition for the 3D effect */
}

.card:hover {
  transform: translateZ(5px); /* Apply the 3D effect on hover */
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%; /* Full width within the card */
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.join-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.join-button:hover {
  background-color: #0056b3;
}

/* Media query for mobile screens */
@media (max-width: 480px) {
  .card {
    max-width: 70vw; /* Set the card width to 70% of the screen width on mobile */
  }

  input[type="text"] {
    width: 70%; /* Set the input width to 70% of the card width on mobile */
  }

  .container {
    max-height: 80vh;
  }
}
