/* RoomPage.css */

.room-page-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.left-panel,
.right-panel {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.left-panel:hover,
.right-panel:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

textarea {
  width: 97%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="file"] {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.link-button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.link-button:hover {
  background-color: #0056b3;
}

.download-icon {
  font-size: 20px;
  margin-right: 10px;
}

/* Styles for screens with a maximum width of 768px (tablet) */
@media (max-width: 768px) {
  .room-page-container {
    flex-direction: column; /* Stack panels vertically on smaller screens */
  }

  .left-panel,
  .right-panel {
    width: 100%; /* Make panels full-width on smaller screens */
    margin: 0 auto 20px; /* Center the card horizontally and add spacing between panels */
  }


 

 

}

/* Styles for screens with a maximum width of 480px (mobile) */
@media (max-width: 480px) {
  .room-page-container {
    flex-direction: column;
    max-height: 80vh; /* Stack panels vertically on smaller screens */
  }

  .left-panel,
  .right-panel {
    width: 70vw; /* Set the card width to 70% of the screen width on mobile */
    margin: 0 auto 20px; /* Center the card horizontally and add spacing between panels */
  }

  h2 {
    font-size: 20px; /* Reduce heading font size */
  }

  h3 {
    font-size: 18px; /* Reduce subheading font size */
  }

  textarea {
    width: 60vw; /* Set the textarea width to 60% of the card width on larger screens */
    font-size: 14px; /* Reduce text area font size */
  }

  input[type="file"] {
    margin-bottom: 10px; /* Reduce spacing for file input */
  }

  .link-button {
    padding: 3px 8px; /* Reduce padding for link buttons */
  }

  .download-icon {
    font-size: 16px; /* Reduce download icon size */
  }
}
